<html ng-app="todo">
<head>
<title>Welcome to toDo Application</title>
<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.css">
<script src="javascripts/jquery-3.0.0.min.js"></script>
<script src="javascripts/angular.min.js"></script>
<script type="text/javascript" src="javascripts/angular-route.min.js"></script>
<script type="text/javascript" src="javascripts/angular-resource.min.js"></script>
<script type="text/javascript" src="javascripts/angular-animate.min.js"></script>
<script type="text/javascript"
	src="javascripts/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script type="text/javascript" src="javascripts/scripts/controllers.js"></script>
<script type="text/javascript" src="javascripts/scripts/directives.js"></script>
<script src="javascripts/scripts/app.js"></script>
</head>
<body>
	<!-- <h1>Welcome to Node Express Angular Application!</h1>
<a href="#/login">login</a>
<a href="#/register">register</a>
<a href="#/create">create</a>
<div ng-view></div>
<div>
<p>
In JavaScript, a setter can be used to execute a function whenever a specified property is attempted to be changed. Setters are most often used in conjunction with getters to create a type of pseudo-property. It is not possible to simultaneously have a setter on a property that holds an actual value
</p>
<p>
In JavaScript, a setter can be used to execute a function whenever a specified property is attempted to be changed. Setters are most often used in conjunction with getters to create a type of pseudo-property. It is not possible to simultaneously have a setter on a property that holds an actual value
</p>
</div> -->

	<div ng-controller="TodoMainController">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">



					<button
						ng-click="displayToDoNameInput = true ; displayCreateToDoButton=false"
						ng-show="displayCreateToDoButton">Create ToDo</button>
					<br>
					<div>
						<br> <label ng-show="displayToDoNameInput">Give Name
							To your Todo</label> <input id="ToDoNametxt"
							ng-show="displayToDoNameInput" ng-model="toDoName" type="text"
							placeholder="Enter ToDo List Name"> <br>
						<button ng-show="displayToDoNameInput"
							ng-click="displayToDoNameInput=false;displayToDoTask=true">done
							(handle in javascript)</button>
						<button ng-show="displayToDoNameInput"
							ng-click="displayCreateToDoButton=true ; displayToDoNameInput=false;clear()">cancel</button>
						<br>
					</div>

					<div ng-show="displayToDoTask">
						<label>{{toDoName}}</label> <br>
						<div ng-repeat="item in toDoList track by $index"
							ng-init="item.displayEditMode=true">
							<!-- display edit mode -->
							<div ng-show="item.displayEditMode">
								<input type="text" ng-model="item.taskName"
									placeholder="Enter Task Name"> <input type="text"
									ng-model="item.description" placeholder="Enter description">
								<select ng-model="item.status"
									ng-options="status for status in ['to do','in progress','done']"></select>
								<input ng-model="item.hours" type="text"
									placeholder="Enter hours">
								<button ng-click="item.displayEditMode=false">save</button>
								<button ng-click="removeToDoItem($index)">remove</button>
							</div>
							<!-- display save mode -->
							<div ng-hide="item.displayEditMode">
								<label>{{item.taskName}}</label> <label>{{item.description}}</label>
								<label>{{item.status}}</label> <label>{{item.hours}}</label>
								<button ng-click="item.displayEditMode=true">edit</button>
								<button ng-click="removeToDoItem($index)">remove</button>
							</div>

						</div>
						<br>
						<button ng-click="addToDoItem()">Add task item</button>
						<br>
						<button ng-click="saveToDo()">Save ToDo And Exit</button>
						<br>
						<button ng-click="exitToDo()">Cancel</button>

					</div>
				</div>

				<div class="col-sm-6">
					<!--  Bring here accordian with heading title same as todo title! -->
					<div ng-show="collectionOfTodo.length>0">
						<!-- toDo, InProgress, done	 -->
						<!-- Remove ToDo (use Glyphicons properly do it fast 20 mins) -->
						<!-- Proper Styling -- UIB Accordian, Panel, ToolTip, modal box -->
						<!-- toDoName,	toDoTaskList  -->
						<uib-accordion close-others="false">
						<div ng-repeat="toDo in collectionOfTodo track by $index">
							
							<div uib-accordion-group class="panel-default"
								heading="{{toDo.toDoName}}" is-open="false">
								<uib-tabset justified="true" type="pills">
									<uib-tab heading="to do" index="1">
										<div ng-repeat="taskList in toDo.toDoTaskList| filter:{status:'to Do'}">
									<div ng-init="taskList.showEdit=false">
										<div class="row">
											<div class="col-sm-3">
												<input type="text" class="form-control" ng-model="taskList.taskName"
													ng-show="taskList.showEdit">
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.taskName}}</div>

											</div>
											<div class="col-sm-3">
												<textarea type="text" class="form-control" ng-model="taskList.description"
													ng-show="taskList.showEdit"></textarea>
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.description}}</div>

											</div>
											<div class="col-sm-3">

												<select ng-model="taskList.status" class="form-control"
													ng-show="taskList.showEdit"
													ng-options="status for status in ['to do','in progress','done']"></select>
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.status}}</div>


											</div>

											<div class="col-sm-3">
												<input type="text" ng-model="taskList.hours" class="form-control"
													ng-show="taskList.showEdit">
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.hours}}</div>

												<button ng-show="taskList.showEdit" class="btn btn-primary pull-right" style="margin-top:5%;"
													ng-click="taskList.showEdit=false">save</button>
											</div>
										</div>





									</div>
								</div>	
									</uib-tab>
									<uib-tab heading="in progress" index="2">
										<div ng-repeat="taskList in toDo.toDoTaskList| filter:{status:'in progress'}">
									<div ng-init="taskList.showEdit=false">
										<div class="row">
											<div class="col-sm-3">
												<input type="text" class="form-control" ng-model="taskList.taskName"
													ng-show="taskList.showEdit">
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.taskName}}</div>

											</div>
											<div class="col-sm-3">
												<textarea type="text" class="form-control" ng-model="taskList.description"
													ng-show="taskList.showEdit"></textarea>
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.description}}</div>

											</div>
											<div class="col-sm-3">

												<select ng-model="taskList.status" class="form-control"
													ng-show="taskList.showEdit"
													ng-options="status for status in ['to do','in progress','done']"></select>
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.status}}</div>


											</div>

											<div class="col-sm-3">
												<input type="text" ng-model="taskList.hours" class="form-control"
													ng-show="taskList.showEdit">
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.hours}}</div>

												<button ng-show="taskList.showEdit" class="btn btn-primary pull-right" style="margin-top:5%;"
													ng-click="taskList.showEdit=false">save</button>
											</div>
										</div>





									</div>
								</div>
									</uib-tab>
									<uib-tab heading="done" index="3">
										<div ng-repeat="taskList in toDo.toDoTaskList| filter:{status:'done'}">
									<div ng-init="taskList.showEdit=false">
										<div class="row">
											<div class="col-sm-3">
												<input type="text" class="form-control" ng-model="taskList.taskName"
													ng-show="taskList.showEdit">
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.taskName}}</div>

											</div>
											<div class="col-sm-3">
												<textarea type="text" class="form-control" ng-model="taskList.description"
													ng-show="taskList.showEdit"></textarea>
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.description}}</div>

											</div>
											<div class="col-sm-3">

												<select ng-model="taskList.status" class="form-control"
													ng-show="taskList.showEdit"
													ng-options="status for status in ['to do','in progress','done']"></select>
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.status}}</div>


											</div>

											<div class="col-sm-3">
												<input type="text" ng-model="taskList.hours" class="form-control"
													ng-show="taskList.showEdit">
												<div style="cursor: pointer"
													ng-click="taskList.showEdit=true"
													ng-hide="taskList.showEdit">{{taskList.hours}}</div>

												<button ng-show="taskList.showEdit" class="btn btn-primary pull-right" style="margin-top:5%;"
													ng-click="taskList.showEdit=false">save</button>
											</div>
										</div>





									</div>
								</div>
									</uib-tab>
								</uib-tabset>
								
							</div>
						</uib-accordion>
						<div>
							<!-- 									<label>{{toDo.toDoName}}</label> -->
							<!-- <div ng-repeat="taskList in toDo.toDoTaskList">
										<div ng-init="taskList.showEdit=false">
										
										<input type="text" ng-model="taskList.taskName" ng-show="taskList.showEdit">
										<div style="cursor:pointer" ng-click="taskList.showEdit=true" ng-hide="taskList.showEdit">{{taskList.taskName}}</div>
										
										<input type="text" ng-model="taskList.description" ng-show="taskList.showEdit">
										<div style="cursor:pointer" ng-click="taskList.showEdit=true" ng-hide="taskList.showEdit">{{taskList.description}}</div>
										
										<select ng-model="taskList.status" ng-show="taskList.showEdit" ng-options="status for status in ['to do','in progress','done']"></select>
										<div style="cursor:pointer" ng-click="taskList.showEdit=true" ng-hide="taskList.showEdit">{{taskList.status}}</div>
										
										<input type="text" ng-model="taskList.hours" ng-show="taskList.showEdit">
										<div style="cursor:pointer" ng-click="taskList.showEdit=true" ng-hide="taskList.showEdit">{{taskList.hours}}</div>
										 
										<button ng-show="taskList.showEdit" ng-click="taskList.showEdit=false">save</button>
										
										</div>						
									</div> -->
						</div>
					</div>
				</div>
				<div ng-show=collectionOfTodo.length==0>
					<p>No todo to display</p>
				</div>
			</div>
		</div>

	</div>
	</div>

	<div></div>
</body>
</html>